@font-face {
  font-family: "DOSGothic";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff") format("woff");
  font-style: normal;
}
body {
  font-family: "DOSGothic";
  font-size: 16px;
  color: #111;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.window {
  width: 500px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  background-color: #999;
}
.window .menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15px;
  position: relative;
  background-color: #eee;
}
.window .menu button {
  position: absolute;
  padding: 0 3px;
  border: solid 1px #111;
  background-color: #eee;
}
.window .menu button.close {
  left: 0;
  padding: 0;
}
.window .menu button.close .material-icons {
  font-size: 12px;
}
.window .menu button.info {
  right: 0;
}
.window .menu .pattern span {
  display: block;
  width: 500px;
  height: 1px;
  background-color: #111;
}
.window .menu .pattern span:not(:last-child) {
  margin-bottom: 2px;
}

.inputBox {
  margin-top: 100px;
  text-align: center;
}
.inputBox input {
  width: 50px;
  height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid #000;
}
.inputBox input::-webkit-outer-spin-button,
.inputBox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.paper {
  margin: 0 auto;
  padding: 20px;
  max-width: 380px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.paper .list {
  display: flex;
  justify-content: space-between;
}
.paper .list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px 0;
  font-weight: 500;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  box-sizing: border-box;
}

.operators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}